// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.custom-price {
  .cash-plan {
    i {
      color: #F0F0F0;
      align-content: center;
    }

  }
  background-color: #000000 !important;
}
.list-price-data{
  margin-left: 3px;
}

.price-plan-one{
  background-color: #27AE60;
  border-radius: 10%;
  color: #ffffff;
  padding: 10px;
}


.price-plan-two{
  background-color: #1ABC9C;
  border-radius: 10%;
  color: #ffffff;
  padding: 10px;
}


.price-plan-three{
  background-color: #16A085;
  border-radius: 10%;
  color: #ffffff;
  padding: 10px;
}